data/*
!data/*.dvc
!data/*.md
models/*
!models/*.dvc
!models/*.md
*.out
/src/training/wandb
/src/.ipynb_checkpoints
/src/training/.ipynb_checkpoints
/src/inference/.ipynb_checkpoints
/src/data/simple_images
*pyc
*.ipynb_checkpoints
src/model/training/wandb
*wandb